<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="placeHolder" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="application.properties"/>
    </bean>

    <bean id="test" class="com.edu.nbu.fan.spel.bean.TestBean">
        <constructor-arg name="name" value="${com.edu.nbu.fan.customName}"/>
        <property name="b1" value="#{b1}"/>
        <property name="b1Name" value="#{b1.name}"/>
        <property name="getB1Name" value="#{b1.getName()}"/>
        <property name="longerThan3" value="#{b1.name.length() ge 3}"/>
        <property name="numBool"  value="#{!true}"/>
        <property name="PI" value="#{T(java.lang.Math).PI}"/>
        <property name="elvis" value="#{b1.name?:'others'}"/>
<!--        <property name="name" value=""/>-->
    </bean>
    
    <bean id="b1" class="com.edu.nbu.fan.spel.bean.Bean">
        <property name="name" value="${com.edu.nbu.fan.name}"/>
    </bean>
</beans>